#app {
    width: calc(100% - 2 * 30px);
    margin: 30px;
    padding: 1em;
    height: 400px;
    border: solid 1px gray;
    overflow: auto;
}

#app .context-menu-root {
    width: 150px;
    font-family: 'Segoe UI Variable';
    font-size: 10pt;
}

.content-div {
    margin: 10px;
    background-color: lightgoldenrodyellow;
}